.students {
  max-width: 1000px;
  justify-content: center;
  margin: 50px auto;
}
.top {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: 250px;
  gap: 20px;
  justify-content: end;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
