.students {
  max-width: 1000px;
  justify-content: center;
  margin: 50px auto;
}
.top {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
.centerPro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: 250px;
  gap: 20px;
  justify-content: end;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btnReset {
  background-color: rgb(255, 0, 0);
  color: black;
  font-size: 39px;
  box-sizing: border-box;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  height: 80px;
}
